body {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 50px !important;
  background: white;
  height: 30px;
  /* border-bottom: 1px solid black; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  background: white;
  color: var(--softblue);
  font-family: 'Montserrat', sans-serif;
}

.header p {
  font-size: 10px;
  margin: 0;
  text-transform: uppercase;
  color:rgb(94, 103, 115);
}

.invisible {
  display: none;
}

.vh {
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 5px;
  top: 60px;
}

.btn-config {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(55, 61, 73);
  cursor: pointer;
}

.btn-config:hover {
  background-color: rgb(103, 111, 129);
}

.header-element {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  /* background: black; */
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.menu-config{
  display: none;
  background: rgba(88, 111, 208, 0.99);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 20px;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  width: 100vw;
  /* height: calc(100vh - 50px); */
  height: calc(100 * (var(--vh, 1vh)) - 50px);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-config > div {
  /* background: peru; */
  margin: 5px;
}

.titulo h1 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.menu-config.visible {
  display: flex
}

.nav-menu ul{
  padding: 0;
}

.nav-menu ul li{
  list-style: none;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  display: flex;
}

.inter-label {
  /* margin: 0; */
}

.inter-icon {
  /* background: white; */
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.inter-modoDeJuego {
  justify-content: space-between;
}

.inter-modJuego{
  width: 40%;
  justify-content: center !important;
}

.inter-box {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: rgba(0, 0, 0, .3);
  color: white;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 3px;
}

.inter-box:hover {
  background: rgba(0, 0, 0, .4);
}

.inter-niveles {
  justify-content: space-between;
}

.inter-niv {
  width: 20px;
  justify-content: center;
}

.i-next {
  background-image: url(img/icons/next.svg);
}

.inter-off {
  background: #CECECE;
  color: rgba(0, 0, 0, .3);
}

.inter-off .i-pista{
  background-image: url(img/icons/pista-off.svg);
}
.inter-off .i-sound{
  background-image: url(img/icons/sound-off.svg);
}

.inter-off:hover {
  background: #EDEDED;
}

.inter-on {
  background: #3BB66D;
  color: white;
}

.inter-on .i-pista{
  background-image: url(img/icons/pista-on.svg);
}
.inter-on .i-sound{
  background-image: url(img/icons/sound-on.svg);
}

.inter-on:hover {
  background: #36A864;
}

.inter-bloq {
  opacity: .2;
  cursor: no-drop;
}

.inter-bloq:hover {
  background: rgba(0, 0, 0, .3);
}

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* position: relative; */
}

.mesa {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 50rem;
}

.card-container {
  /* width: 200px;
  height: 300px; */
  /* background: peru; */
}

/* .card-container:hover .tarjeta{
  transform: translateY(-10px);
} */

.tarjeta {
  /* -- STYLE -- */
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  cursor: pointer;
  /* -- OTHERS -- */
  /* position: relative; */
  transition: 1s;
  /* backface-visibility: hidden; */
  transform-style: preserve-3d;
}

.front {
  border-radius: 8px;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.mensaje {
  display: none;
  background-image: var(--gradient);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-align: center;
  margin:10px;
  max-width: 450px;
}

.max-width-S {
  max-width: 300px;
}

.mensaje.visible {
  display: block;
}

.mensaje h2, p {
  margin: 10px 0;
}

.boton {
  color: white;
  text-decoration: none;
  color: var(--softblue);
  background: white;
  border-radius: 5px;
  padding: 20px 25px;
  margin: 8px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  transition: .3s;
  cursor: pointer;
}

.boton:hover {
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.1);
  /* color: white; */
  border-radius: 10px;
}

.btn-secundario {
  border: solid 1px white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.btn-secundario:hover {
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

.front p {
  margin: 0;
  text-align: center;
  position: relative;
  top: 29px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 19px;
  backface-visibility: hidden;
}

.front span {
  font-weight: 600;
}

.back {
  /* -- POSITION -- */
  position: absolute;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  height: 100%;
  width: 100%;
  /* -- STYLE -- */
  /* background: white; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 2.5rem;
  padding-top: 0.4rem;
  box-sizing: border-box;
  /* -- DISPLAY -- */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.back img {
  width: 50px;
}

.key-name {
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  font-size: 20px;
  border-radius: 0 8px;
  color: white;
}

.tarjeta.descubierta {
  transform: rotateY(-180deg);
}


/* ANIMACIONES */

@keyframes error {
  /* 0% {
    transform: rotateY(-80deg) translateX(0px);
  } */
  10%, 90% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  20%, 80%{
    transform: rotateY(-180deg) translateX(2px);
  }
  30%, 50%, 70% {
    transform: rotateY(-180deg) translateX(-4px);
  }
  40%, 60% {
    transform: rotateY(-180deg) translateX(4px);
  }
  /* 100% {
    transform: rotateY(0deg) translateX(0px);
  } */
}

@keyframes pista {
  /* 0% {
    transform: rotateY(-80deg) translateX(0px);
  } */
  10%, 90% {
    transform: translateY(-1px);
  }
  20%, 80%{
    transform: translateY(2px);
  }
  30%, 50%, 70% {
    transform: translateY(-4px);
  }
  40%, 60% {
    transform: translateY(4px);
  }
  /* 100% {
    transform: rotateY(0deg) translateX(0px);
  } */
}


.acertada {
  border-radius: 8px;
  box-shadow: inset 0 0 0 3px rgb(95, 215, 39);
}

.error {
    /* animation: error 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; */
    animation: error 0.6s;
    animation-delay: 0.3s;
}

.pista {
  animation: pista 1s;
}

.finalizado span {
  font-weight: 600;
}



/* .tarjeta__contenido::selection {
  background: transparent;
} */

/* .tarjeta:hover {
  transform: rotateY(-180deg);
} */

/* .boton {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.boton p {
  background: #48a473;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: 1s;
}

.boton p:hover {
  background: #419e92;
} */
